body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

canvas {
  display: block;
}

#startBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  z-index: 10;
}

/* Экран поворота */
#rotateOverlay {
  position: fixed;
  inset: 0;
  background: #000;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  z-index: 9999;
}
