* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b1b1b;
  overflow: hidden;
  font-family: Arial, sans-serif;
   touch-action: none;
}

canvas {
  display: block;
}
#gasBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 70px;
  height: 140px;

  border-radius: 35px;
  border: 3px solid #111;

  background: linear-gradient(
    to bottom,
    #555 0%,
    #333 40%,
    #222 100%
  );

  box-shadow:
    inset 0 4px 8px rgba(255,255,255,0.15),
    inset 0 -6px 10px rgba(0,0,0,0.6),
    0 6px 15px rgba(0,0,0,0.6);

  cursor: pointer;
  outline: none;
}

/* Рифление педали */
#gasBtn::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 15%;
  width: 70%;
  height: 6px;
  background: rgba(255,255,255,0.15);
  box-shadow:
    0 15px rgba(255,255,255,0.15),
    0 30px rgba(255,255,255,0.15),
    0 45px rgba(255,255,255,0.15),
    0 60px rgba(255,255,255,0.15);
}

/* Эффект нажатия */
#gasBtn:active {
  transform: translateY(4px);
  box-shadow:
    inset 0 6px 12px rgba(0,0,0,0.8);
}
